/* main.css */
body{
    background-color: #FAFAFA;
}

.img-preview {
    width: 300px;
    height: 300px;
    position: relative;
    border: 3px solid black;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    /* margin-top: 1em;
    margin-bottom: 1em;     */
    text-align: center;
    margin: auto;
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    border-radius: 25px;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    text-align: center;
    margin: 5rem auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.navbar{
    background-color: #e3f2fd;
    height: 5rem;
    font-size: large;
}

.navbar-brand{
    font-size:x-large;
    padding-right: 3rem;
}

footer{
    background-color:#34495E;
    color: white;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2rem 0 1rem;
    margin-top: 5rem;
}

footer img{
    height: 50px;
    width: 50px;
}