{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">

<div class="about-container">
    <div class="about-header">
        <h1>About the Developer</h1>
        <p>Bridging technology and healthcare for a better future.</p>
    </div>

    <div class="dev-card">
        <div class="profile-img-placeholder">V</div>
        <h2>Vidhi</h2>
        <a href="mailto:svidhi0811@gmail.com" class="dev-email">svidhi0811@gmail.com</a>
        


        <a href="https://github.com/svidhi08/" target="_blank" class="github-btn">
            View GitHub Profile
        </a>
    </div>
</div>
{% endblock %}